<?xml version='1.0' encoding='utf-8'?>
<plugin id="fb-login" version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>FbLogin</name>

    <js-module name="FbLogin" src="www/FbLogin.js">
        <clobbers target="FbLogin" />
    </js-module>

    <platform name="ios">
    <preference name="UseSwiftLanguageVersion" value="5" />

    <preference name="UseSwiftLanguageVersion" value="5" />
        <config-file target="config.xml" parent="/*">

        <!--
        Add in any class declaration names here so that they can be accessed by Cordova. Else the plugin will fail.
        -->
        <pod name="Alamofire" version="4.4.0" />
        <pod name="FacebookCore" />
        <pod name="FacebookLogin" />
        <pod name="FacebookShare" />
        <pod name="Toaster" />

            <feature name="FbLogin">
                <param name="ios-package" value="FbLogin" />
            </feature>

        </config-file>

        <!-- Add in the plugin .swift files here -->
        <source-file src="src/ios/fb/AppDelegate.swift" />
        <source-file src="src/ios/fb/ViewController.swift" />
       
        <!-- Add in the swift-support plugin by default -->
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
    </platform>
</plugin>
